<div class="well">
	{% render(controller('TkListBundle:Shopping:new')) %}
</div>

{% for item in all_items %}

	<p>{{ item.name }} - <a href="{{ path('tk_list_shopping_remove', { 'id' : item.id }) }}"><i class="icon-trash"></i></a></p>

{% endfor %}