<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <title>Test Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <!-- en-tete du document -->
</head>
<body>
  <!-- corps du document -->

  <h1>Hello Julio, here is the test page</h1>

  <div>
  	<a href="#" onclick="alert('Bonjour !');">lien</a>
  </div>

  <div>
  	<img src="{{ asset('img/logo/twinkler_logo.png') }}" alt="twinkler logo" width="100px" onclick="alert('Pourquoi cliques-tu sur cette image ?');" />
  </div>

  <div>
  	<a href="javascript:nombre();"> Cliquez ici </a>
  </div>

  test
  
  <div>
  	<img src="{{ asset('img/logo/twinkler_logo.png') }}" alt="twinkler logo" width="100px" ondblclick="alert('Double clic');" onmouseout="alert('La souris sort');" />
  </div>

  <script type="text/javascript" src="{{ asset('js/test.js') }}"></script>

</body>
</html>