{% extends 'TkGroupBundle:Default:addMembers.html.twig' %}

{% block invite %}
	
	<h5>Do you want to invite friends to join your group on Twinkler ?</h5>
	<p>Send and email or an inbox</p>
	{% render controller('TkGroupBundle:Default:sendInvitationEmail') %}	
	<p>or</p>
	<a class="btn btn-primary" href="#">Send Facebook Message</a>
	<p>or</p>
	<a class="btn" href="{{ path('tk_group_homepage') }}">No thank you</a>

{% endblock %}