{% extends 'TkGroupBundle:Default:addMembers.html.twig' %}

{% block invite %}
	
	<h5>{{ member.name }} was added to the group <b>{{ member.tgroup.name }}</b></h5>
	<p>Invite your friend to Twinkler by sending an Email or a Facbook Inbox</p>
	<a class="btn btn-success" href="#sendEmailModal" data-toggle="modal">Send Email</a>	
	<a class="btn btn-primary" href="#">Send Facebook Message</a>
	<a class="btn" href="{{ path('tk_group_add_members') }}">Don't send invitation</a>

	<!-- Send email Modal -->
	<div id="sendEmailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Enter the email of your friend</h3>
	    </div>
	    <div class="modal-body">
	        
	    	{% render controller('TkGroupBundle:Default:sendInvitationEmail', { 'id': member.id }) %}

	    </div>
	    <div class="modal-footer">
	        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    </div>
	</div>

{% endblock %}