{% extends 'TkWelcomeBundle:Default:index.html.twig' %}

{% block content %}

    <div class="span6 offset3">
      <div class="box">
        <h3>In order to join the group {{ member.tgroup.name }} please login</h3>
        <a class="btn btn-primary" href="">login with Facebook</a>
        <p>or using your email</p>
        {% render (controller("FOSUserBundle:Security:login")) %}
        <p>Not yet a user ? <a href="{{ path('tk_welcome_register') }}">Register here</a></p>
      </div>
    </div>

{% endblock %}