<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Twinkler - Manage social events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
  	<header>
  		<img src="{{ asset('img/logo/twinkler_logo.png') }}" width="200px" alt="twinkler logo">
  	</header>
  	{% block content %}
  	<section>
	    <h1>Welcome to Twinkler</h1>
	 
	    <p>Twinkler is a web service aiming at simplifying social events with your friends (life in flatshares, weekends with friends, ...)</p>

	    {% render (controller("FOSUserBundle:Registration:register")) %}

	</section>
	<section>
	    <h1>How it works</h1>
	 
	    <p>With Twinkler you add your friends to your groups or events and manage common things with them. Report expenses, set to-dos, share shopping lists.</p>
	</section>
	<section>
	    <h1>Apps</h1>
	 
	    <p>Bring Twinkler with you all the time with our coming mobile apps</p>
	</section>
	<section>
	    <h1>The Team/About us</h1>
	 
	    <p>The founding team is composed of Arnaud Drizard and Jules Marcilhacy</p>
	</section>
	<footer>
		<p>footer</p>
		<p>Copyright © 2013 Twinkler, Inc. All rights reserved.</p>
		<ul>
			<li>About</li>
			<li>Newsletter</li>
			<li>Press</li>
			<li>Contact</li>
		</ul>
		<p>Facebook</p>
		<p>Twitter</p>
	</footer>
	{% endblock content %}
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>