<div id="subscribeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="subscribe-modal" style="padding: 20px;">
  	<h3>Twinkler is very soon available</h3>
  	<p>Leave your email here and we will keep you posted !</p>
    {% render(controller('TkWelcomeBundle:Default:subscribe')) %}
 
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>