<div id="subscribeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="subscribe-modal">
  	<p><b>Leave us your email here <br>and we will keep you posted !</b></p>
    {% render(controller('TkWelcomeBundle:Default:subscribe')) %}
 	
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>