{% extends 'TkWelcomeBundle:Links:links.html.twig' %}

{% block links_body %}

<div class="span8 offset2">
	<div id="about" style="text-align: center; border: solid 1px;">
		<h1>About twinkler</h1>
		<p>Twinkler is ...</p>
	</div>
</div>

{% endblock %}