{% extends 'TkWelcomeBundle:Links:links.html.twig' %}

{% block links_body %}

<div class="span8 offset2">
	<div id="about" style="text-align: center; border: solid 1px;">
		<h1>Contact us</h1>
		<p>For any question/issue drop us an email: contact@twinkler.co</p>
	</div>
</div>

{% endblock %}