{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/parameters.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Parameters</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="box">
					<h2>Members</h2>
				</div>
			</div>
			<div class="span8">
				<div class="box">
					<h2>Parameters of the group</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}