/* --- CSS of expense part of GroupBundle only--- */
#expense-timeline{
	margin: 20px 10px;
	width: 60%;
	position: relative;
}

.flat-header a{
	color: #e9f0f4;
	vertical-align: middle;
}

.flat-header a:hover{
	color: #c1cfd9;
	text-decoration: none;
}

#expense-dropdown{
	display: inline-block;
	width: 50px;
	text-align: center;

}

#expense-dropdown > a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


#expense-title{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-left: 12px;
}

#expense-title > h2{
	font-size: 22px;
	margin: 0px;
	vertical-align: middle;
	margin-top: 3px;
}

#add-expense-btn{
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: middle;
	padding: 14px 12px;
	border-left: 1px solid #3a414d;
}

#add-expense-btn a{
	vertical-align: middle;
}

#add-expense-btn i{
	margin: 15px 10px;
	vertical-align: middle;
}

/*------EXPENSE TABLE---------*/

.table a:hover{
	text-decoration: none;
}
#column-label{
	background-color: #c1cfd9;
	color: white;
}

#expense-date{
	color:#b8c7d1;
	text-align: center;
}

#expense-name,  #expense-total, #expense-for-you{
	color:#f97e76;
}

#expense-edit{
	text-align: center;
}


/*---------BALANCE----------*/
#balance{
	margin: 20px 0px;
}


.balance-box h2{
	font-size: 22px;
	margin: 0px;
	vertical-align: middle;

}

#settlement{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	color:#f97e76;
}

