@font-face {
    font-family: "Proxima-black";
    src: url({{ asset('css/font/ProximaNova-Black.otf') }}) format("truetype");
}

@font-face {
    font-family: 'Proxima-regular';
    src: url({{ asset('css/font/proximanovaregular.ttf') }}) format("truetype");
}



@font-face {
    font-family: "Proxima-condensed-regular";
    src: url({{ asset('css/font/ProximaNovaCond-Regular.otf') }}) format("truetype");
}

@font-face {
    font-family: "Proxima-condensend-light";
    src: url({{ asset('css/font/ProximaNovaCond-Light.otf') }}) format("truetype");
}

@font-face {
    font-family: "Proxima-consensed-semibold";
    src: url({{ asset('css/font/ProximaNovaCond-Semibold.otf') }}) format("truetype");
}

@font-face {
    font-family: "Proxima-bold";
    src: url({{ asset('css/font/ProximaNova-Bold.otf') }}) format("truetype");
}