@font-face {
    font-family: "Proxima-black";
    src: url('font/ProximaNova-Black.otf') format("opentype");
}

@font-face {
    font-family: 'Proxima-regular';
    src: url('font/proximanovaregular.ttf') format("truetype");
}

@font-face {
    font-family: 'Proxima-condensed-regular';
    src: url('font/ProximaNovaCond-Regular.ttf') format("truetype");
}


@font-face {
    font-family: "Proxima-condensend-light";
    src: url('font/ProximaNovaCond-Light.otf') format("opentype");
}

@font-face {
    font-family: "Proxima-consensed-semibold";
    src: url({{ asset('css/font/ProximaNovaCond-Semibold.otf') }}) format("truetype");
}

@font-face {
    font-family: "Proxima-bold";
    src: url({{ asset('css/font/ProximaNova-Bold.otf') }}) format("truetype");
}