/* --- CSS applyable for all website when user is connected--- */

.box{
	width: 100%;
	min-height: 200px;
}

.box-header{
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	background-color: grey;
	color: white;
}

.box h2{
	text-align: center;
}