/* --- CSS applyable for all website when user is connected--- */


.frame{	
	background-image: url('../img/Frame/Background.jpg');
	min-height: 620px;		
	margin-top: -20px;
	margin-right: -20px;
	margin-left: -20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.box{
	background-color: white;	
	border-radius: 5px;
	width: 100%;
	min-height: 200px;
}

.box-header{
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	background-color: grey;
	color: white;
}

.box h2{
	text-align: center;
}