/* --- CSS of landing page only--- */


h1, h2{
	font-family:HelveticaNeueMdCn, 'HelveticaNeueW01-67MdCn 692710', Helvetica, sans-serif;
	font-weight:normal;
  	line-height:1em;
  	font-size:42px;
}


header{
	position: fixed;
	top: 0;
	width: 100%;
  	box-shadow:rgba(0, 0, 0, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
	z-index: 9999;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Proxima-regular';
	font-size: 16px;
}

header img{
	width: 150px;
	margin-left: 50px;
}

header a{
	  -webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	  transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color:#B7B7B7;
	vertical-align: middle;
}

header a:hover{
	text-decoration: none;
	color:#767676;
}

header li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

#login-register{
	padding-top: 5px;
	margin-right: 40px;

}

.brand{
	padding: 0px;
}



#section1{
	min-height: 660px;
	width: 100%;
	background-image: url(' ../img/landing-page/8.jpg');
	background-size: cover;
	padding-top: 10px;
	border-bottom: solid 1px grey;
}

#catchphrase{
	margin-top: 310px;
	padding-left: 50px;
	padding-right: 50px;
}


#core-features{
	height: 400px;
	text-align: center;
	padding-top: 20px;
}

#core-features img:hover{
	opacity: 0.2;
}

#core-features p{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	color:#B7B7B7;
}

#late-login{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:80px;
	height:150px;
}

#late-login p{
	color:#B7B7B7;	
}

#late-login button{
	width: 300px;	
}

.feature{
	background-image: url(' ../img/landing-page/feature-gradient-bck.png');
	background-position:50% 100%;
  	background-repeat:no-repeat no-repeat;
  	height: 400px;
  	border-bottom: solid 1px #E7E7E7;
}

.feature h2{
	font-size:38.5px;
	color:#B7B7B7;
}



.feature-container{
	height:100%;
}

.feature-container img{
	vertical-align: bottom;
	display: block;
	position: absolute;
	bottom: 0;
}

.feature-description{
	padding-top: 80px;
}

.feature-description p{
	color:#B7B7B7;
}

#iphone-payback{
	padding-top: 100px;
}

#samsung-expenses{
	height: 450px;
}

#section-transition{
	background-color: rgba(255, 255, 255, 0.9);
  	box-shadow:rgba(0, 0, 0, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
	height: 40px;
	color: black;
	text-align: center;
}


#section3{
	background-image: url(' ../img/landing-page/get-the-app.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover; 
	height: 400px;
	width: 100%;
	text-align: center;
}

#section3 img{
	margin-bottom: auto;
	margin-top: 150px;
	margin-right: 10px;
}

#section4{
	height: 700px;
	padding-top: 30px;
	padding-left: 30px;
}

#login-mosaic{
	text-align: center;
	padding-top: 50px;
	display: none;
	width: 100%;
}

#login-mosaic button{
	margin-top: 40px;
	width: 400px;
	height: 60px;
	font-size: 30px;
}

.mosa-row{
	margin-top:10px;
	display: inline-block;
	padding-left: 8px;
}

.mosa-row img{
	display: inline-block;
	margin-left: 4px;
	height:200px;
}

#row1{
	height:200px;
}


#row2{
	height:200px;
}

#row3{
	height:200px;
}


#pre-footer{
	background-image: url(' ../img/landing-page/footer_bckgd_repeat.gif');  
  	background-position:50% 50%;
  	background-repeat:np-repeat;
  	width:100%;
  	height: 150px;
  	text-align: center;
}

.footer-box{
	height: 122px;
}

.repeat-bck{
	background-image: url(' ../img/landing-page/footer_bckgd_top.gif');   
	background-position:50% 0;
  	background-repeat:repeat-x;
  	padding-top: 10px;
}

#pre-footer p{
color:#777777;
font-family:ProximaNovaBold, Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin-bottom: 0px;
}

#pre-footer img{
	margin-bottom: 5px;
}

#pre-footer i{
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	color:#fb887d;
	text-shadow:#FFFFFF 1px 0.5px 0px, rgba(0, 0, 0, 0.14902) 1.5px 2px 0;
}

.footer-box-right{
	border-right:  solid 1px white;
}

.footer-box-left{
	border-left:  solid 1px white;
}

#made-with-love{
	text-align: center;
	color: #B7B7B7;
	margin-bottom: 5px;
}

footer{
	border-top: solid 1px #d2d2d2;
	text-align: center;
	color: #B7B7B7;
	padding-top: 10px;
}

footer li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}



