/* --- CSS of landing page only--- */

header{
	box-shadow: 0px 0px 1px;
	margin-top: -60px;
}

#login-register{
	margin-top: 20px;
	margin-right: 40px;
}

#section1{
	min-height: 660px;
	width: 100%;
	background-color: grey;
	background-image: url(' ../img/landing-page/group.jpg');
	background-size: cover;
	padding-top: 10px;
	border-bottom: solid 1px grey;
}

#catchphrase{
	margin-top: 310px;
	padding-left: 50px;
	padding-right: 50px;
}

footer{
	border-top: solid 1px grey;
}