<div class="well">
	{% render(controller('TkListBundle:Todos:new')) %}
</div>

{% for todo in all_todos %}

	<p>{{ todo.name }} - Assigned to {% if todo.owner == null %} Anyone {% else %} {{ todo.owner.name }} {% endif %} - <a href="{{ path('tk_list_todos_remove', {'id' : todo.id }) }}"><i class="icon-trash"></i></a></p>

{% endfor %}