{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/lists.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>{{ app.user.currentMember.TGroup.name }} - To-do & Shopping lists</h1>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="box">
					<h2>To-dos</h2>
					{% include 'TkListBundle:Todos:todos.html.twig' %}
				</div>
			</div>
			<div class="span6">
				<div class="box">
					<h2>Shopping list</h2>
					{% include 'TkListBundle:Shopping:shopping.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}