{% extends 'TkGroupBundle::index.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/lists.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

	<div class="row" style="margin-top:30px; margin-bottom: 30px;">
		<div class="span6">
			<div class="box" id="to-dos">
				<h2>To-dos</h2>
				{% include 'TkListBundle:Todos:todos.html.twig' %}
			</div>
		</div>
		<div class="span6">
			<div class="box" id="shopping-list">
				<h2>Shopping list</h2>
				{% include 'TkListBundle:Shopping:shopping.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}