{% extends 'TkUserBundle::frame.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('css/expenses.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Expenses</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="box">
					<h2>Balances & Debts</h2>
				</div>
			</div>
			<div class="span4">
				<div class="box">
					<h2>Expenses I paid</h2>
				</div>
			</div>
			<div class="span4">
				<div class="box">
					<h2>Paid by others</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}