{% extends '::base.html.twig' %}

{% block body %}


<div id="user-layout" class="row">
    <div class="span6 offset3">
        <h5>
            {% if app.session.get('invitation_id') != null %} Hello {{ app.session.get('invitation_member') }},</br> in order to join the group you need to login/register to Twinkler {% endif %}
        </h5>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
{% endblock %}